#scanner {
    padding-top: 16px;
    text-align: center;
}

#controls {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#percent {
    font-weight: bold;
    font-size: 1.25rem;
}

canvas.drawingBuffer {
    display: none;
}