# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules

# testing
/coverage
/client/coverage

# production
/build
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

package-lock.json
/client/package-lock.json