#scanner {
    padding-top: 16px;
    text-align: center;
}

#controls {
    width: 640px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#controls > a, #controls > button {
    width: 200px;
}

canvas.drawingBuffer {
    display: none;
}