.collection-item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item a {
    color: black;
}

.collection-item button {
    cursor: pointer;
    background: none;
    border: none;
}

.item-actions {
    display: flex;
}